/* CSS Document */
/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
	background-color: #94c9ee;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/body.gif);
	width: 980px;
}

header {
  padding: 40px 0;
  text-align: center;
}

h1 {
	font-size: 24px;
	text-shadow: #7dcbee 0 1px 0;
	color: #012d41;
	margin-bottom: 10px;
	letter-spacing:1px;
}

ul#members {
  display: block;
  margin: 0 -15px;
}

li.member {
	width: 285px;
	background: #fff;
	margin: 5px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	box-shadow: #7dcbee 0 1px 0,inset #CCC 0 1px 2px;
	display: block;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	color: #4985a0;
}

li.member h2 {
	font-size: 18px;
	line-height: 1.4;
	color: #217aa2;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #de428b;
	display: block;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 14px;
	margin-left: 0;
	padding-bottom: 2px;
	box-shadow:#91d9fa 0 2px 0;
}

li.member .introduction p span.break {
word-break: break-all;
}

li.member .introduction {
	font-size: 13px;
	line-height: 1.5;
	margin: 0 0 16px;
}

li.member dt {
  display: none;
}

li.member dd {
  display: inline;
  font-size: 12px;
}

li.member dd a {
	display: block;	
	padding: 4px 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	text-decoration: none;
	font-size: 11px;
	float:left;
}
li.member dd a:link,
li.member dd a:visited {
	border: solid 1px #CCC;
	box-shadow: #ccc 0 1px 1px;
	color: #de428b;
	margin: 0 2px 0 0;
}
li.member dd a:hover,
li.member dd a:active {
	border: solid 1px #CCC;
	box-shadow: none;
	color: #a80e57;
	margin: 1px 2px 0 0;
}
header p.image {
	background-color: #FFF;
	height: 163px;
	width: 185px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding-top: 26px;
	padding-right: 15px;
	padding-bottom: 26px;
	padding-left: 15px;
	border-radius: 110px;
	-webkit-border-radius: 107px;
	-moz-border-radius: 107px;
	-o-border-radius: 107px;
	margin-bottom: 35px;
	box-shadow:inset #CCC 0 1px 2px;
}
footer {
	padding-top: 65px;
	padding-bottom: 45px;
	text-align: center;
}
footer p.copyright {
	font-size: 12px;
	color: #166f98;
}
